
/* === section-sub-title (5) === */
.section-sub-title-wrap {
  text-align: left;
}
.section-sub-title-wrap:where(.w-variant-3c407a6e-7fb2-c899-e2f7-c39618620858), .section-sub-title-wrap.align-center {
  text-align: center;
}
.section-sub-title-inner {
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px 5px 5px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.section-sub-title-inner {
    display: inline-flex;
  }
.section-sub-title-inner {
    text-align: left;
    padding-right: 10px;
    display: inline-flex;
  }

/* === main-title (2) === */
.main-title {
  border-top-left-radius: var(--border-radius--broder-radius-10px);
  border-top-right-radius: var(--border-radius--broder-radius-10px);
  border-bottom-left-radius: var(--border-radius--broder-radius-10px);
  border-bottom-right-radius: var(--border-radius--broder-radius-10px);
  background-color: var(--_color---base-color--dark);
  color: var(--_color---base-color--white);
  font-weight: var(--_fonts---fonts-weight--medium);
  text-transform: capitalize;
  white-space: nowrap;
  word-break: normal;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 32px;
  display: inline-flex;
}
.main-title {
    font-size: 16px;
  }

/* === sub-title (3) === */
.sub-title {
  color: var(--_color---base-color--white);
  font-weight: var(--_fonts---fonts-weight--medium);
  text-align: left;
  text-transform: capitalize;
  margin-left: 15px;
}
.sub-title {
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
  }
.sub-title {
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
    font-size: 16px;
  }

/* === single-accordion (5) === */
.single-accordion-item {
  display: block;
}
.single-accordion-wrap {
  z-index: 1;
  border-radius: var(--border-radius--broder-radius-14px);
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  padding: 42px 70px;
  position: relative;
  overflow: hidden;
}
.single-accordion-wrap {
    padding-left: 40px;
    padding-right: 40px;
  }
.single-accordion-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
.single-accordion-wrap {
    padding: 30px 24px;
  }

/* === accordion-header (3) === */
.accordion-header {
  padding: 24px 0;
  display: block;
}
.accordion-header {
    padding-right: 35px;
  }
.accordion-header {
    padding-right: 30px;
  }

/* === accordion-title (4) === */
.accordion-title {
  color: var(--_color---base-color--white);
  font-size: 24px;
  font-weight: var(--_fonts---fonts-weight--medium);
  white-space: pre-wrap;
  line-height: 155%;
  display: inline-block;
}
.accordion-title {
    font-size: 22px;
  }
.accordion-title {
    font-size: 20px;
  }
.accordion-title {
    word-break: normal;
  }

/* === accordion-arrow (2) === */
.accordion-arrow {
  color: var(--_color---base-color--white);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  position: relative;
  inset: 0% 0% 0% auto;
}
.accordion-arrow-wrap {
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  position: absolute;
  inset: 0% 0% 0% auto;
}

/* === accordion-content (2) === */
.accordion-content {
  background-color: var(--_color---base-color--transparent);
  display: block;
  position: static;
}
.accordion-content-wrap {
  height: auto;
  font-size: var(--font-size--font-size-standard);
  padding-bottom: 0;
  overflow: hidden;
}

/* === main-divider-glowing (1) === */
.main-divider-glowing {
  background-image: linear-gradient(90deg, var(--_color---base-color--transparent), var(--_color---theme-color--secondary) 50%, var(--_color---base-color--transparent));
  filter: blur(1.5px);
  border-radius: 70px;
  width: 90px;
  height: 4px;
  margin: auto;
  position: absolute;
  inset: 0%;
}

/* === glowing-round (13) === */
.glowing-round-blur {
  z-index: -2;
  border-radius: var(--border-radius--broder-radius-12px);
  background-color: var(--_color---theme-color--secondary);
  filter: blur(35px);
  width: 320px;
  height: 320px;
  position: absolute;
}
.glowing-round-blur.bottom-left {
  inset: auto auto -250px -75px;
}
.glowing-round-blur.bottom-left.size-lg {
  width: 800px;
  height: 800px;
  bottom: -600px;
  left: -100px;
}
.glowing-round-blur.bottom-left.glowing-pricing {
  bottom: -200px;
}
.glowing-round-blur.bottom-left.box-features {
  border-radius: var(--border-radius--broder-radius-14px);
  width: 440px;
  height: 440px;
}
.glowing-round-blur.bottom-left.f2 {
  bottom: -160px;
}
.glowing-round-blur.top-right {
  inset: -160px -75px auto auto;
}
.glowing-round-blur.box-features {
  width: 380px;
  height: 380px;
}
.glowing-round-blur-wrap {
  z-index: -2;
  border-radius: var(--border-radius--broder-radius-12px);
  display: block;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}
.glowing-round-blur-wrap.border-radius-lg {
  border-radius: var(--border-radius--broder-radius-14px);
}
.glowing-round-blur-wrap.border-radius-lg.hidden {
  display: none;
}
.glowing-round-blur-wrap.box-features {
  border-radius: var(--border-radius--broder-radius-14px);
}

/* === section-questions (0) === */


/* === container-box (1) === */
.container-box {
  position: relative;
  overflow: visible;
}